#topbar
{
    position: fixed;
    top: 0px;
    left:0px;
    z-index: 10000;
    height: 45px;
    padding: 5px;
    width: 100%;
    box-shadow: 0px 0px 10px #000;
    -moz-shadow: 0px 0px 10px #000;
    -webkit-shadow: 0px 0px 10px #000;
    
    background: -webkit-gradient(linear,0% 0,0% 100%,from(#212828),to(#121616));
    background: -moz-linear-gradient(0% 0 270deg,#212828,#121616);
    -moz-transition-timing-function: ease;
    -moz-transition-duration: 300ms;
    -webkit-transition-timing-function: ease;
    -webkit-transition-duration: 300ms;
    -o-transition-timing-function: ease;
    -o-transition-duration: 300ms;
    transition-timing-function: ease;
    transition-duration: 300ms;
    -moz-transition-delay: 150ms;
    -webkit-transition-delay: 150ms;
    -o-transition-delay: 150ms;
}

#footer
{
    position: fixed;
    bottom: 0px;
    left:0px;
    z-index: 10000;
    height: 45px;
    padding: 5px;
    width: 100%;
    box-shadow: 0px 0px 10px #000;
    -moz-shadow: 0px 0px 10px #000;
    -webkit-shadow: 0px 0px 10px #000;
    
    background: -webkit-gradient(linear,0% 0,0% 100%,from(#212828),to(#121616));
    background: -moz-linear-gradient(0% 0 270deg,#212828,#121616);
    -moz-transition-timing-function: ease;
    -moz-transition-duration: 300ms;
    -webkit-transition-timing-function: ease;
    -webkit-transition-duration: 300ms;
    -o-transition-timing-function: ease;
    -o-transition-duration: 300ms;
    transition-timing-function: ease;
    transition-duration: 300ms;
    -moz-transition-delay: 150ms;
    -webkit-transition-delay: 150ms;
    -o-transition-delay: 150ms;
}

li.tagline {
list-style: none;
color: #555;
font-size: 12px;
font-family: sans-serif;
font-weight: bold;
margin-left: 10px;
}

img.logo {
width: 215px; 
}

img.logo:hover {
	opacity: 1;
}