<!DOCTYPE html>

<html style="background: url('image/cool.jpg') fixed"  xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>treble.fm  |  alpha</title>
        <meta charset="utf-8">
		<meta property="og:title" content="treble.fm - radio powered by you" />
		<meta property="og:type" content="company" />
		<meta property="og:site_name" content="treble.fm" />
		<meta property="og:url" content="http://www.treble.fm" />
		<meta property="og:image" content="/image/favicon.png" />
		<meta property="og:description" content="radio powered by you" />
		<meta property="og:title" content="Treble.fm - Community Powered Radio" /><meta property="og:type" content="company" /><meta property="og:site_name" content="Treble.fm" /><meta property="og:url" content="http://www.treble.fm" /><meta property="og:image" content="https://launchrock-assets.s3.amazonaws.com/facebook-files/BfZVr2alY0d6D0z.png" /><meta property="og:description" content="check out our community powered radio - www.Treble.fm" />
        <link rel="shortcut icon" type="image/png" href="/image/favicon.png">

		{% block script %}{% endblock %}        
        {% block css %}{% endblock %}          

    </head>
   
{% block body %}{% endblock %}

</html> 