{% extends "base_info.html" %}
{% block content %}
{% include "includes/topbar.html" %}
{% include "includes/footer.html" %}

<script type="text/javascript" src="/script/jqueryui.js"></script>   
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="http://connect.soundcloud.com/sdk.js" type="text/javascript"></script>	    
<script src="/script/soundcloud.player.api.js" type="text/javascript" ></script>
<script src="/script/sc-player.js" type="text/javascript" ></script>     
<script type="text/javascript" src="/script/social.js"></script>
<script type="text/javascript" src="/script/getRooms.js"></script>
<script type="text/javascript" src="/script/search.js"></script> 
<script type="text/javascript" src="/script/updatePages.js"></script> 

<nav id="menu">
    <ol>
        <li class="item home active" onclick="updateURL('home')">Home</li>
		<li class="item new" onclick="updateURL('new')">New Rooms</li>
	</ol>
	<div class="separator"></div>
	<ol class="info">
		<li class="item team" onclick="updateURL('team')">Top</li>
		<li class="item about" onclick="updateURL('about')">About</li>
		<li class="item blog" onclick="updateURL('jobs')">Blog</li>
		<li class="item contact" onclick="updateURL('contact')">Contact</li>
		<li class="item API :)" onclick="updateURL('api')">API :)</li>
	</ol>
</nav>

<div id="content">
    <!--<div id="welcome"> Welcome to treble.fm</div>-->
	<ul id="rooms">	</ul>
    <div id="search">{% include "includes/search.html" %}</div>
</div>
<style>
#createRoom {
background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F9AF3F), color-stop(1, #DB8300) );
background: -moz-linear-gradient( center top, #F9AF3F 5%, #DB8300 100% );
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9af3f', endColorstr='#db8300');
background-color: #F9AF3F;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
display: inline-block;
color: black;
font-family: Arial;
font-size: 14px;
font-weight: normal;
padding: 12px 20px;
text-decoration: none;
margin-top: 20px;
list-style: none;
border: none;
cursor: pointer;
}

#createRoom:hover {
background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #DB8300), color-stop(1, #F9AF3F) );
background: -moz-linear-gradient( center top, #DB8300 5%, #F9AF3F 100% );
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#db8300', endColorstr='#f9af3f');
}
</style>

<script>
/*remove when release 
$(document).ready(function(){  
 $('#splash').fadeIn();
});*/
</script>
<div style="display:none;" id="splash">
	<div id="pageLayout">
		<p id="comingSoon">Thanks for checking in,<br> <br>
		                                     We really hope you like the progress we are making.
											 Everyone who requests an invite below will be notified soon about our private alpha release.<br><br>Thanks,<br>
												<img style="margin-left:-8px; margin-top:10px; width:150px;" id="layoutImage" src="/image/logo.png"></img><br><br><br>

		</p>
											<div rel="OXUR76QR" class="lrdiscoverwidget" data-logo="off" data-background="off" data-share-url="www.treble.fm" data-css=""></div><script type="text/javascript" src="http://launchrock-ignition.s3.amazonaws.com/ignition.1.1.js"></script>
         <script>    $(".input").val("notify me"); </script>
	 </div>
</div>	


{% endblock %}