{% extends "base_info.html" %}
{% block content %}

    <script type="text/javascript" src="/script/jquery.js"></script>  
	<script type="text/javascript" src="/script/jquery-1.5.2.min.js"></script>  
    <script type="text/javascript" src="/script/jqueryui.js"></script>   
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script src="http://connect.soundcloud.com/sdk.js" type="text/javascript"></script>	
     <script src="/script/soundcloud.player.api.js" type="text/javascript" ></script>
     <script src="/script/sc-player.js" type="text/javascript" ></script>
    <script type="text/javascript" src="/script/social.js"></script>  	 
	 <script type="text/javascript" src="/script/search.js"></script> 
	 
{% include "includes/topbar.html" %}
      
{% include "includes/search.html" %}	

{% include "includes/social.html" %}

{% endblock %}