<script type="text/javascript" src="/script/jqueryui.js"></script>   

                    <form id="searchForm" action="" name="searchForm" >
                        <input name="queryString" id="searchInput" placeholder="Search for Music..." type="text" size="40" ></input>
                    </form>
                    <div id="searchResults">
                        <ol id="resultList">
                        </ol>
                    </div>
                    <input id="doneSearching" type=button onclick="doneSearching()" value="save" />
                    <ol id="playlist" class='droptrue'>
            