<link rel="stylesheet" media="screen" href="/css/topbar.css">

<div id="topbar">
	<div id="wrapper">
	<a href="/" ><img class="logo" src="/image/logo.png"></img></a>
	</div>
</div>

<style>
li.tagline {
list-style: none;
color: #555;
font-size: 12px;
font-family: sans-serif;
font-weight: bold;
margin-left: 10px;
}

img.logo {
opacity: .5; 
width: 135px; 
margin-top:5px; 
margin-left: 8px;
-moz-transition-duration: 300ms;
-webkit-transition-duration: 300ms;
-o-transition-duration: 300ms;
}

img.logo:hover {
	opacity: 1;
}
</style>